.app--main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  .app--check--button {
    margin-top: 30px;
    font-family: 'Karla', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    color: white;
    background-color: #4D5B9E;
    border: 0;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .app--check--button:hover {
    background-color: #6b75a6;
    transform: scale(1.1);
  }
  
  .app--error--message {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .app--footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    margin-top: 20px; 
    gap:30px;
  }

  .app--footer > h4 {
    font-size: 1.5rem;
  }

  .app--playagain--button {
    font-family: 'Karla', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    color: white;
    background-color: #4D5B9E;
    border: 0;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
  }

  .app--playagain--button:hover {
    transform: scale(1.1);
  }