body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    color: #293264;
    background-color: #F5F7FB;
    padding: 30px;
    position: relative;
}

.background--image--1 {
    position: fixed;
    left: 0;
    bottom: 0;
}

.background--image--2 {
    position: fixed;
    top: 0;
    right: 0;
}
